In [1]:
for i in  range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
x=[1,2,3,4,5]
sum=0
for s in range(0,len(x)):
   sum=sum+x[s]
print (sum)

15

In [1]:

input_string = "Hello, World!"
reversed_string = ""

for char in reversed(input_string):
    reversed_string += char


print(reversed_string)

!dlroW ,olleH

In [4]:
def fact_num(n) :
    a=1
    for i in range(1,n+1):
        a=i*a
        
    return a

In [5]:
fact_num(4)

24

In [6]:
def fact_num(n):
    if n==0 :
        return 1
    else:
        return n*fact_num(n-1)

In [7]:
fact_num(2)

2

In [8]:
def multi_table(n):
    i=1
    for i in range(1,11):
        product = n* i
        print(n,'*',i,'=',product)
        i= i+1

In [9]:
multi_table(9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [2]:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize counters for even and odd numbers
even_count = 0
odd_count = 0


for number in numbers:
    if number % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

# Print the counts
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 5
Number of odd numbers: 5

In [12]:
for i in range(1,6):
    i=i**2
    print(i)

1
4
9
16
25

In [15]:
x=[1,2,3,4,5]

for s in range(0,len(x)):
   sum=(sum+x[s])%len(x)
print (sum)

0

In [17]:
def gen_fib(n) : 
    if n <=1 :
        return n 
    else:
        return gen_fib(n-1) + gen_fib(n-2)

In [18]:
gen_fib(5)

5

In [19]:
lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
 
uniqueList = []
duplicateList = []
 
for i in lis:
    if i not in uniqueList:
        uniqueList.append(i)
    elif i not in duplicateList:
        duplicateList.append(i)
 
print(duplicateList)

[1, 2, 5, 9]

In [20]:
print(uniqueList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
def check_prime(n):
    if n <= 1 : 
        return False 
    elif n <=3 :
        return  True 
    elif n%2 == 0 or n%3 == 0 :
        return False 
    i = 5 
    while i*i <=n:
        if n %i == 0 or n %(i+2) == 0 :
            return False 
        i+=6 
    return True 

prime = [i for i in range(2,10) if check_prime(i)]

In [22]:
prime

[2, 3, 5, 7]

In [23]:
def Check_Vow(string, vowels):
    final = [each for each in string if each in vowels]
    print(len(final))
    print(final)

string = "Geeks for Geeks"
vowels = "AaEeIiOoUu"
Check_Vow(string, vowels);

5
['e', 'e', 'o', 'e', 'e']

In [24]:
my_list = [2,4,6,[5,10,3]]
print(max(max(x) if isinstance(x, list) else x for x in my_list))

10

In [25]:
def remove_values_from_list(the_list, val):
   return [value for value in the_list if value != val]

x = [1, 2, 3, 4, 2, 2, 3]
x = remove_values_from_list(x, 2)
print (x)

[1, 3, 4, 3]

In [26]:
def rem_val(the_list,val):
    for i in the_list:
        if i!= val:
            print(i)

In [27]:
rem_val([1,2,3,4,2,3,45,1],2)

1
3
4
3
45
1

In [28]:

def multi_table(n):
    i=1
    while i<=10:
        product=i*n
        print(n,"*",i,"=",product)
        i=1+i

In [29]:
multi_table(1)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [30]:
def fat_cel(f):
    c=float(f-32)*5/9
    return c

In [31]:
fat_cel(56)

13.333333333333334

In [32]:
a=[1,2,3,4,5,6,7]
b=[2,1,7,9,5,6,8]
c=[]
for i in a:
     if i in b:
        c.append(i)

In [33]:
print(c)

[1, 2, 5, 6, 7]

In [34]:
for i in range(6):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****
*****
******

In [6]:
def gcd(x,y):
    
    gcd = 1
    if x % y == 0:
        return y
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break 
            return gcd

In [9]:
print(gcd(6,3))

3

In [19]:
 def product_of(input):
        result = 1
        for i in input:
            result *i+i
            return result

In [18]:
product_of([1,2,3])

1

In [20]:
Number = int(input(" Please Enter any Number: "))

for i in range(2, Number + 1):
    if(Number % i == 0):
        isprime = 1
        for j in range(2, (i //2 + 1)):
            if(i % j == 0):
                isprime = 0
                break
            
        if (isprime == 1):
            print(" %d is a Prime Factor of a Given Number %d" %(i, Number))

 Please Enter any Number: 4
 2 is a Prime Factor of a Given Number 4

In [22]:
def unique(list1):
    unique_list = []
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print(x,end="")

In [23]:
list1=[1,2,2,1,4,2,3,4,5,6,7,7]
unique(list1)

1243567

In [17]:
def is_palindrome(number):
    return str(number) == str(number)[::-1]

def generate_palindromic_numbers(limit):
    return [num for num in range(limit + 1) if is_palindrome(num)]

In [18]:
generate_palindromic_numbers(100)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [19]:
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

In [21]:
flatten_list([[1,2,3],[34,5,6],[2,3,4,65,6,7]])

[1, 2, 3, 34, 5, 6, 2, 3, 4, 65, 6, 7]

In [87]:
def sum_even_odd(n):
    l1=[]
    l2=[]
    for i in n:
        if i %2 ==0:
            l1.append(i)
            print(i)
    for i in n:
        if i%2!=0:
            l2.append(i)
            print(i)

In [88]:
sum_even_odd([1,2,3,4,5,6,7,8])

2
4
6
8
1
3
5
7

In [71]:
def sum_evenodd(n):
    n=[1,2,3,4,5,6,7]
    
    sum_even=sum([i for i in n if i%2==0])
    sum_odd=sum([i for i in n if i%2!=0])
    return sum_even,sum_odd


#print("Original list of numbers:", n)
#print("Sum of even numbers:", sum_even)
#print("Sum of odd numbers:", sum_odd)

In [72]:
sum_evenodd([1,2,3,4,5,6,7])

(12, 16)

In [91]:
for i in range(1,11):
    if i % 2!=0:
        print(i**2)

1
9
25
49
81

In [94]:
keys = ["name", "age", "city"]
values = ["Alice", 30, "New York"]

combined_dict = {keys[i]: values[i] for i in range(len(keys))}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [106]:
n=input("enter a string")
for i in n:
    if i.lower() in "aeiou":
        print(i)

enter a string iam in my home
i
a
i
o
e

In [107]:

strings = ["abc123", "456def", "789xyz", "1a2b3c"]


numeric_strings = [''.join(filter(str.isdigit, s)) for s in strings]

print("Original list of strings:", strings)
print("List with non-numeric characters removed:", numeric_strings)

Original list of strings: ['abc123', '456def', '789xyz', '1a2b3c']
List with non-numeric characters removed: ['123', '456', '789', '123']

Challenge Level:

In [1]:
def sieve_of_eratosthenes(n):
    # Create a boolean list "is_prime" and initialize
    # all entries as True. A value in is_prime[i]
    # will finally be False if i is Not a prime, else True.
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False  # 0 and 1 are not prime numbers
    
    # Start with the first prime number, 2
    p = 2
    
    while p**2 <= n:
        # If is_prime[p] is not changed, then it is a prime
        if is_prime[p]:
            # Update all multiples of p
            for i in range(p**2, n + 1, p):
                is_prime[i] = False
        p += 1

    # Use list comprehension to extract prime numbers
    primes = [i for i in range(2, n + 1) if is_prime[i]]
    
    return primes

# Example: Generate a list of prime numbers up to 50
n = 50
prime_list = sieve_of_eratosthenes(n)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [2]:
def generate_pythagorean_triplets(limit):
    # Use list comprehension to generate Pythagorean triplets
    triplets = [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1)
                for c in range(b, limit + 1) if a**2 + b**2 == c**2]
    
    return triplets

# Example: Generate Pythagorean triplets up to a limit of 20
limit = 20
pythagorean_triplets = generate_pythagorean_triplets(limit)
print(pythagorean_triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [3]:
from itertools import product

# Two example lists
list1 = [1, 2]
list2 = ['a', 'b']

# Generate all possible combinations using list comprehension
combinations = [(x, y) for x, y in product(list1, list2)]

# Print the list of combinations
print(combinations)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b')]

In [10]:
import statistics
n = [1, 2, 2, 3, 4, 5, 5, 5, 6, 7]
mean=sum(n)/len(n)
median=statistics.median(n)
mode=statistics.mode(n)

print(mean ,median ,mode)

4.0 4.5 5

In [11]:
def generate_pascals_triangle(num_rows):
    if num_rows <= 0:
        return []

    # Initialize Pascal's triangle with the first row
    triangle = [[1]]

    # Generate Pascal's triangle using list comprehension
    while len(triangle) < num_rows:
        last_row = triangle[-1]
        new_row = [1] + [last_row[i] + last_row[i + 1] for i in range(len(last_row) - 1)] + [1]
        triangle.append(new_row)

    return triangle

# Example: Generate Pascal's triangle with 5 rows
num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)

# Print Pascal's triangle
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [12]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

def sum_of_digits(number):
    return sum(int(digit) for digit in str(number))

# Calculate the sum of digits of factorial for numbers from 1 to 5 using list comprehension
n_values = [1, 2, 3, 4, 5]
factorial_sums = [sum_of_digits(factorial(n)) for n in n_values]

# Print the results
for n, result in zip(n_values, factorial_sums):
    print(f"Sum of digits of {n}! =", result)

Sum of digits of 1! = 1
Sum of digits of 2! = 2
Sum of digits of 3! = 6
Sum of digits of 4! = 6
Sum of digits of 5! = 3

In [13]:
# Input sentence
sentence = "This is a sample sentence with some long words."

# Split the sentence into words
words = sentence.split()

# Find the longest word using list comprehension
longest_word = max(words, key=lambda word: len(word))

# Print the longest word
print("The longest word is:", longest_word)

The longest word is: sentence

In [14]:
# List of strings
string_list = ["hello", "world", "python", "programming", "example"]

# Function to count vowels in a string
def count_vowels(string):
    vowels = "AEIOUaeiou"
    return sum(1 for char in string if char in vowels)

# Filter strings with more than three vowels using list comprehension
filtered_strings = [string for string in string_list if count_vowels(string) > 3]

# Print the filtered strings
print("Strings with more than three vowels:", filtered_strings)

Strings with more than three vowels: []

In [15]:
# Function to calculate the sum of digits of a number
def sum_of_digits(number):
    return sum(int(digit) for digit in str(number))

# Calculate the sum of digits for numbers from 1 to 1000 using list comprehension
numbers = range(1, 1001)
digit_sums = [sum_of_digits(number) for number in numbers]

# Calculate the total sum of the digit sums
total_sum = sum(digit_sums)

# Print the result
print("The sum of the digits of numbers from 1 to 1000 is:", total_sum)

The sum of the digits of numbers from 1 to 1000 is: 13501

In [16]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

# Generate a list of prime palindromic numbers up to a specified limit
limit = 1000
prime_palindromic_numbers = [n for n in range(2, limit) if is_prime(n) and is_palindrome(n)]

# Print the list of prime palindromic numbers
print("Prime palindromic numbers up to", limit, "are:", prime_palindromic_numbers)

Prime palindromic numbers up to 1000 are: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]